@import "tailwindcss";

* {
   outline: none;
   font-family: "Poppins";
}

@theme {
   --color-white-gradient: ; /* For intellisense */
   --color-primary: ; /* For intellisense */
   --color-black: #101010;
   --color-light-black: #151518;
   --color-dark-gray: #27272a;
   --color-gray: #9f9f9f;
   --color-indigo: #761bff;
   --color-red: #ff6544;
   --color-green: #1bffa8;
}

/* GRADIENT TEXT STYLE */
.text-primary {
   @apply bg-gradient-to-r from-10% from-indigo to-red text-transparent bg-clip-text;
}

.text-white-gradient {
   @apply bg-gradient-to-b from-25% from-[#FFF] to-[#525252] text-transparent bg-clip-text;
}

/* GRADIENT BACKGROUND STYLE */
.bg-primary {
   @apply bg-gradient-to-r from-10% from-indigo to-red;
}

/* TYPOGRAPHY LEVEL */
.text-small {
   @apply text-xs min-sm:text-sm; /* 12px Mobile - 14px Desktop */
}

.text-base {
   @apply text-[16px] min-sm:text-[18px]; /* 16px Mobile - 18px Desktop */
}

.text-medium {
   @apply text-[20px] min-sm:text-[24px]; /* 20px Mobile - 24px Desktop */
}

.text-large {
   @apply text-[28px] min-sm:text-[32px]; /* 28px Mobile - 32px Desktop */
}

.text-extra-large {
   @apply text-[36px] min-sm:text-[40px]; /* 36px Mobile - 40px Desktop */
}
